/* You can add global styles to this file, and also import other style files */
.color{
    color: #fff;
}
.bg{
    background: url('../../../frontend-ds/gestor-proyecto/src/image/imagen3.jpg') no-repeat;
    width: 100vw;
    height: 100vh;
}

form textarea{
  resize: none;
}


.info{
  border: 1px solid #17a2b8;
  resize: none;
}

p{
  border: 1px solid #17a2b8;
  border-radius: 0.25rem;
  padding: 5px 5px;
}

ul{
  column-count: 2;
}

.form-container{
    border: 0px solid #fff;
    padding: 50px 60px;
    margin-top: 20vh;
    box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
}

form h1{
    text-align: center;
}

.aver{
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 1em;
}

.mar1{
  margin-bottom: 10px;
}
.mar3{
  margin-left: 25px;
}
.mar4{
  margin-top: 25px;
}
.mar5{
  margin-top: 15px; margin-bottom: 15px;
}

.mar6{
  margin-right: 10px;
}
.mar7{
  margin-top: 10px; margin-bottom: 10px;
}
.mar8{
  margin-top: 15px; margin-left: 14px; margin-bottom: 20px;
}
.mar9{
  margin-top: 8px;
}
.mar10{
  margin-top: 40px;
}
.mar11{
  margin-top: 5px; margin-left: 40px; margin-bottom: 10px;
}
.mar12{
  margin-top: 5px; margin-left: 14px; margin-bottom: 10px;
}
.mar13{
  margin-top: 5px; margin-left: 140px; margin-bottom: 10px;
}
.mar14{
  margin-top:20px;
}
.mar15{
  margin-top: 15px; margin-bottom: 20px;
}
.mar16{
  margin-top: 15px; margin-bottom: 15px;
}
.center{
  margin-right: 0px;
  margin-left: 0px;
}
.aver3{
  margin-left: 15px;
  margin-right: 25px;
  margin-bottom: 0px;
}
.secondary{
  background-color: #ad2525;
}
.pad{
  padding: 0%;
}
.formulario{
  margin-bottom: 10px; padding: 10px 5px;
}
.talvez{
  width: 100vw;
  text-align: center;
  align-items: center;
}
.aligncenter{
  text-align: center;
  align-items: center;
}

.nose{
  text-align: center;
}

.aver4{
  overflow-x: auto;
}

.celda{
  max-width: 200px;
}

.celda2{
  max-width: 60px;
}
.celda3{
  padding-right: 0px;
}

.nojo{
  white-space: pre-line;
}

.hero1{
  background-image: url('../src/image/adult-blur-business-close-up-239548.jpg');
  background-size: cover;
  padding-top: 90px;
  background-attachment: fixed;
  width: 100%;
  min-height: 700px;
  color: #ffffff; 
  margin: 0px; 
}

.content-center{
 max-width: 800px;
 margin: 0 auto 60px auto;
 text-align: center;
}
.content-h1{
  font-size: 66px;
  font-weight: 600;
  line-height: 80px;
}

.content-menu-p{
  border: none;
  font-size: 18px;
  color: #ffffff;
  line-height: 1.8;
  margin-bottom: 0;
}
.topmenu-xs{
margin-top: 15px;
}
.topmenu-sm{
  margin-top: 30px;
}
.topmenu-lg{
  margin-top: 60px;
}

.content-h2{
  font-size: 48px; 
  margin-bottom: 30px;
}

.portafolio{
  padding: 120px 0;
  
}

.content-menu-p2{
  border: none;
  font-size: 18px;
  color: black;
  line-height: 1.8;
  margin-bottom: 0;
}
/*-------------------------------------------------------------Segundo Background----------------------------------------------------------------------------------------------------------*/

.background2{
  background-image: url('src\image\accomplishment-ceremony-education-graduation-267885.jpg');
  background-size: cover;
  padding-top: 90px;
  background-attachment: fixed;
  width: 100%;
  min-height: 600px;
  color: #ffffff; 
  margin: 0px;
} 

  .iconos{
    fill:white;
    
  }
  .content-li{
    text-decoration: none;
  }



/*-------------------------------------------------------------------Footer------------------------------------------------------------------------------------------------------*/
.bg-dark{
  background-color: #1a1a1a !important;
}
.footer{
  width: 100%;
  height: 80%;
  padding: 100px 0;
  margin: 0 0 auto 0;
  text-align: center;
  color: #ffffff;
  padding-left: 410px;
}

.list-inline .list-inline-item{
padding: 10px 15px;
}

.afont{
  font-size: 40px; color: #ffffff;
  
}

.smallcito{
  padding-right: 430px;
}
.centrado{
  padding-right: 430px;
}




.bg1{
  align-items: center;
  background: url('../src/image/img.jpg') no-repeat;
  width: 100vw;
  height: 100vh;
}
.header{
    height: 100px;
    background: #007bff;
    padding: 0 20px;
    color: #fff;
  }
.logo{
  line-height: 100px;
  float: left;
  text-transform: uppercase;
}

.menu{
  float: right;
  line-height: 100px;
}
.menu a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}
.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn{
  float: right;
}
.show-menu-btn i{
  line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: #0f3f5f;
}

#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

.content{
  padding: 0 20px;
}
.content img{
  width: 100%;
  max-width: 700px;
  margin: 20px 0;
}
.content p{
  text-align: justify;
}

@media screen and (max-width:800px) {
  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }
  .menu a{
    display: block;
    padding: 20px;
  }
  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu{
    right: 0;
  }
}
