<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header style="text-align: center;">
        <h1>Registro de Alumno</h1>
    </header>
    <main>
        <div class="container-md border rounded border-primary" style="margin-bottom: 10px; padding: 10px 5px;">
            <div class="container-md">
                <form action="/" enctype="multipart/form-data" method="post" ngNativeValidate #form>
                    <div  *ngIf="isShown">

                    <fieldset>
                        <legend>Datos Generales</legend>
                        <div class="form-row">
                            <div class="form-group offset-md-3 col-md-6">
                                <label for="identidad">No. de Identidad</label>
                                <input type="text" id="identidad" class="form-control" minlength="13" maxlength="13" required [(ngModel)]="alumno.id_alumno" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="nombres">Nombres</label>
                                <div class="input-group" id="nombres">
                                    <input type="text" placeholder="Primer Nombre" class="form-control" required [(ngModel)]="alumno.nombre_alumno" [ngModelOptions]="{standalone: true}">
                                    <input type="text" placeholder="Segundo Nombre" class="form-control" [(ngModel)]="alumno.segundo_nombre" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                            <div class="form-group ml-md-auto">
                                <label for="apellidos">Apellidos</label>
                                <div class="input-group" id="apellidos">
                                    <input type="text" placeholder="Primer Apellido" class="form-control" required [(ngModel)]="alumno.apellido_alumno" [ngModelOptions]="{standalone: true}">
                                    <input type="text" placeholder="Segundo Apellido" class="form-control" [(ngModel)]="alumno.segundo_apellido" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row" style="margin-top: 15px; margin-bottom: 15px;">
                            <div class="form-group offset-md-1 col-md-4">
                                    <label for="na">Fecha de Nacimiento</label>
                                    <input type="date" format="yyyy/mm/dd" id="na" placeholder="Fecha" class="form-control" required [(ngModel)]="alumno.fecha_nacimiento" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="form-group  col-md-6">
                                <label for="ciu">Ciudad de Nacimiento</label>
                                <select id="ciu" class="form-control" required [(ngModel)]="ficha.cod_ciudad" [ngModelOptions]="{standalone: true}" >
                                  <option selected value="">- Seleccione -</option>
                                  <option *ngFor="let x of listado_codigo_ciudad" [value]="x.cod_ciudad">{{x.nom_ciudad}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6"  style="margin-top: 25px;">
                                <label for="sexo" style="margin-right: 10px;">Sexo</label>
                                <div class="form-check form-check-inline">
                                    <input type="radio" required [(ngModel)]="alumno.sexo" name="optadio" id="op1" value="Masculino">
                                    <label class="form-check-label" for="op1">Masculino</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio"  [(ngModel)]="alumno.sexo" name="optadio" id="op2" value="Femenino">
                                    <label class="form-check-label" for="op2">Femenino</label>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="nac">Nacionalidad</label>
                                <input type="text" id="nac" class="form-control" required [(ngModel)]="alumno.nacionalidad" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="proce">Lugar de Procedencia</label>
                                <textarea cols="6" rows="3" type="text" id="proce"  class="form-control" [(ngModel)]="alumno.lugar_procedencia" [ngModelOptions]="{standalone: true}"></textarea>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="resi">Residencia Actual de los Padres</label>
                                <textarea cols="6" rows="3" type="text" id="resi"  class="form-control" [(ngModel)]="alumno.residencia_actual" [ngModelOptions]="{standalone: true}"></textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group offset-md-3 col-md-6">
                                <label for="correo">Correo Electrónico</label>
                            <input type="email" id="correo"  class="form-control" required [(ngModel)]="alumno.correo" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="telc">Teléfono Celular</label>
                                <input type="text" id="telc"  class="form-control" [(ngModel)]="alumno.tel_celular" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="telca">Teléfono Casa</label>
                                <input type="text" id="telca"  class="form-control" [(ngModel)]="alumno.tel_casa" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="telt">Teléfono de Trabajo</label>
                                <input type="text" id="telt"  class="form-control" [(ngModel)]="alumno.tel_trabajo" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="nomp">Nombre de su Padre o Guardian</label>
                            <input type="text" id="nomp"  class="form-control" required [(ngModel)]="alumno.nombre_padre" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-row">
                            <div class="form-group offset-md-1 col-md-6">
                                <label for="ocupp">Ocupación de su Padre o Guardian</label>
                                <input type="text" id="ocupp"  class="form-control" required [(ngModel)]="alumno.ocupacion_padre" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="telp">Teléfono de su Padre o Guardian</label>
                                <input type="text" id="telp"  class="form-control" required [(ngModel)]="alumno.tel_padre" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="form-row">
                                <label for="nomm">Nombre de su Madre o Guardian</label>
                                <input type="text" id="nomm"  class="form-control" [(ngModel)]="alumno.nombre_madre" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-row">
                            <div class="form-group offset-md-1 col-md-6">
                                <label for="ocupm">Ocupación de su Madre o Guardian</label>
                                <input type="text" id="ocupm"  class="form-control"  [(ngModel)]="alumno.ocupacion_madre" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="telm">Teléfono de su Madre o Guardian</label>
                                <input type="text" id="telm"  class="form-control"  [(ngModel)]="alumno.tel_madre" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>  
                        <div class="form-row">
                            <div class="form-group offset-md-1 col-md-2">
                                <label for="curso">Curso</label>
                                <select id="curso" class="form-control" required [(ngModel)]="ficha.cod_curso" [ngModelOptions]="{standalone: true}" >
                                  <option selected value="">- Seleccione -</option>
                                  <option *ngFor="let x of listado_codigo_curso" [value]="x.cod_curso">{{x.desc_curso}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="mod">Modalidad</label>
                                <select id="mod" class="form-control" required [(ngModel)]="ficha.cod_modalidad" [ngModelOptions]="{standalone: true}" >
                                  <option selected value="">- Seleccione -</option>
                                  <option *ngFor="let x of listado_codigo_modalidad" [value]="x.cod_modalidad">{{x.desc_modadlidad}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group offset-md-3 col-md-2">
                                <label for="sec">Sección</label>
                                <select id="sec" class="form-control" required [(ngModel)]="ficha.cod_seccion" [ngModelOptions]="{standalone: true}" >
                                  <option selected value="">- Seleccione -</option>
                                  <option *ngFor="let x of listado_codigo_seccion" [value]="x.cod_seccion">{{x.desc_seccion}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="jor">Jornada</label>
                                <select id="jor" class="form-control" required [(ngModel)]="ficha.cod_jornada" [ngModelOptions]="{standalone: true}" >
                                  <option selected value="">- Seleccione -</option>
                                  <option *ngFor="let x of listado_codigo_jornada" [value]="x.cod_jornada">{{x.desc_jornada}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="anio">Año de Ingreso</label>
                                <input type="text" id="anio" class="form-control" required [(ngModel)]="ficha.anio" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="proce">Instituto de Procedencia</label>
                                <input type="text" id="insproce" class="form-control" required [(ngModel)]="ficha.obs_inst_proced" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="ind">Indice Academico</label>
                                <input type="number" id="ind" min="0" max="100" setp="1" class="form-control" max-length=3 required [(ngModel)]="ficha.indice_acad" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="repcurso">Repite Curso</label>
                                <textarea cols="4" rows="4" type="text" id="repcurso" placeholder="Sí o No" class="form-control" required [(ngModel)]="ficha.obs_repite_curso" [ngModelOptions]="{standalone: true}"></textarea>
                                <small id="helper1" class="form-text text-muted">
                                   Si su respuesta es sí, escriba cual
                                   </small>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="matre">Lleva materia retrasada</label>
                                <textarea cols="4" rows="4" type="text" id="matre" placeholder="Sí o No" class="form-control" required [(ngModel)]="ficha.obs_materia_restrada" [ngModelOptions]="{standalone: true}"></textarea>
                                <small id="helper2" class="form-text text-muted">
                                   Si su respuesta es sí, escriba cual
                                   </small>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="beca">Tiene Beca</label>
                                <textarea cols="4" rows="4" type="text" id="beca"  class="form-control" placeholder="Sí o No" required [(ngModel)]="ficha.obs_beca" [ngModelOptions]="{standalone: true}"></textarea>
                                <small id="helper3" class="form-text text-muted">
                                   Si su respuesta es sí, escriba cual
                                   </small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="input-group" style="margin-top: 10px; margin-bottom: 10px;">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Contacto de Emergencia</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Nombre" required [(ngModel)]="ficha.contacto_emergencia" [ngModelOptions]="{standalone: true}">
                                <input type="text"  class="form-control" placeholder="Teléfono" required [(ngModel)]="ficha.num_emergencia" [ngModelOptions]="{standalone: true}">
                              </div>
                        </div>
                        
                        <div class="form-row" id="documentospresenta">
                            <div class="form-group offset-sm-5 col-md-3">
                                <label for="">Documentos que presenta</label>
                                    <div class="form-check ">
                                    <input class="form-check-input" type="checkbox" id="cv" value="1" [(ngModel)]="fichadocumento.tipo_documento" [ngModelOptions]="{standalone: true}"> 
                                    <label class="form-check-label" for="cv">Curriculum Vitae</label>
                                  </div>
                                  <div class="form-check ">
                                    <input class="form-check-input" type="checkbox" id="tit"  value="2" [(ngModel)]="fichadocumento2.tipo_documento" [ngModelOptions]="{standalone: true}">
                                    <label class="form-check-label" for="tit">Titulo</label>
                                  </div>
                                  <div class="form-check ">
                                    <input class="form-check-input" type="checkbox" id="diplo" value="4" [(ngModel)]="fichadocumento4.tipo_documento" [ngModelOptions]="{standalone: true}"> 
                                    <label class="form-check-label" for="diplo">Diploma</label>
                                  </div>
                                  <div class="form-check  ">
                                    <input class="form-check-input" type="checkbox" id="part"  value="5" [(ngModel)]="fichadocumento5.tipo_documento" [ngModelOptions]="{standalone: true}">
                                    <label class="form-check-label" for="part">Partida Nacimiento</label>
                                  </div>
                                  <div class="form-check ">
                                    <input class="form-check-input" type="checkbox" id="pasp" value="6" [(ngModel)]="fichadocumento6.tipo_documento" [ngModelOptions]="{standalone: true}"> 
                                    <label class="form-check-label" for="pasp">Pasaporte</label>
                                  </div>
                                  <div class="form-check  ">
                                    <input class="form-check-input" type="checkbox" id="cali"  value="7" [(ngModel)]="fichadocumento7.tipo_documento" [ngModelOptions]="{standalone: true}">
                                    <label class="form-check-label" for="cali">Calificaciones de años anteriores</label>
                                  </div>
                                  <div class="form-check ">
                                    <input class="form-check-input" type="checkbox" id="idpad" value="8" [(ngModel)]="fichadocumento8.tipo_documento" [ngModelOptions]="{standalone: true}"> 
                                    <label class="form-check-label" for="idpad">Identificacion de los padres</label>
                                  </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="obs">Observaciones</label>
                                <textarea cols="8" rows="6" type="text" id="obs"  class="form-control" [(ngModel)]="ficha.observaciones" [ngModelOptions]="{standalone: true}"></textarea>
                            </div>
                        </div> 
                        <div class="form-row">
                            <div class="form-group  offset-md-5 offset-sm-4 offset-xs-6">
                                <button *ngIf="isShown5" style="margin-top: 15px; margin-left: 14px; margin-bottom: 20px;" (click)="toggleShow()"  class="btn btn-secondary">Siguiente</button>
                            </div>
                        </div>
                    
                    
                    </fieldset>
                    </div>
                    <fieldset *ngIf="isShown2">
                        <legend>Aspectos Pedagógicos</legend>
                        <div style="margin-top: 8px;" class="form-group">
                            <label for="motivos">Motivos para elegir esta institución</label>
                            <textarea cols="8" rows="6" type="text" id="motivos" class="form-control" required [(ngModel)]="pedagogico.motivos" [ngModelOptions]="{standalone: true}"></textarea>
                            
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="sexto">Donde Curso Sexto Grado</label>
                                <input type="text" id="sexto"  class="form-control" required [(ngModel)]="pedagogico.sexto_grado_cursado" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="ubicacion">Ubicación del Centro Académico Anterior</label>
                                <input type="text" id="ubicacion" class="form-control" required [(ngModel)]="pedagogico.ubicacion_centro_anterior" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="form-group col-md-4" >
                                <label for="escuela">Tipo de Escuela de la que proviene</label>
                                <select id="escuela" class="form-control" required [(ngModel)]="pedagogico.codigo_escuela" [ngModelOptions]="{standalone: true}" >
                                  <option selected value="">- Seleccione -</option>
                                  <option *ngFor="let x of listado_codigo" [value]="x.codigo_escuela">{{x.descripcion}}</option>
                                </select>
                              </div>
                        </div>
                        <div class="form-group">
                            <label for="rendimiento" style="margin-right: 10px;">Rendimiento Academico</label>
                            <select id="rendimiento" class="form-control" required [(ngModel)]="pedagogico.codigo_rendimiento" [ngModelOptions]="{standalone: true}" >
                              <option selected value="">- Seleccione -</option>
                              <option *ngFor="let x of listado_rendimiento" [value]="x.codigo_rendimiento">{{x.descripcion}}</option>
                            </select>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="dificultad" style="margin-right: 10px;">Asignatura que presenta dificultad</label>
                                <select id="dificultad" class="form-control" required [(ngModel)]="pedagogico.cod_asignatura_dificultad" [ngModelOptions]="{standalone: true}" >
                                    <option selected value="">- Seleccione -</option>
                                    <option *ngFor="let x of listado_dificultad" [value]="x.cod_asignatura_dificultad">{{x.descripcion}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="facilidad" style="margin-right: 10px;">Asignatura que se le facilita</label>
                                <select id="facilidad" class="form-control" required [(ngModel)]="pedagogico.cod_asignatura_facilidad" [ngModelOptions]="{standalone: true}" >
                                    <option selected value="">- Seleccione -</option>
                                    <option *ngFor="let x of listado_facilidad" [value]="x.cod_asignatura_facilidad">{{x.descripcion}}</option>
                                  </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="estudio" style="margin-right: 10px;">Forma de Estudio</label>
                                <select id="estudio" class="form-control" required [(ngModel)]="pedagogico.codigo_estudio" [ngModelOptions]="{standalone: true}" >
                                    <option selected value="">- Seleccione -</option>
                                    <option *ngFor="let x of listado_estudio" [value]="x.codigo_estudio">{{x.descripcion}}</option>
                                  </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="estudiante" style="margin-right: 10px;">Se considera un estudiante</label>
                                <select id="estudiante" class="form-control" required [(ngModel)]="pedagogico.cod_consideracion" [ngModelOptions]="{standalone: true}" >
                                    <option selected value="">- Seleccione -</option>
                                    <option *ngFor="let x of listado_consideracion" [value]="x.cod_consideracion">{{x.descripcion}}</option>
                                  </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="repor">¿Ha sido reportado?</label>
                                <textarea cols="5" rows="5" type="text" id="repor" placeholder="En caso de ser si, escriba porque, de lo contrario deje el campo vacio." class="form-control" [(ngModel)]="pedagogico.obs_reportes" [ngModelOptions]="{standalone: true}"></textarea>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="expu">¿Ha sido expulsado?</label>
                                <textarea cols="5" rows="5" type="text" id="expu" placeholder="En caso de ser si, escriba porque, de lo contrario deje el campo vacio." class="form-control" [(ngModel)]="pedagogico.obs_expulsion" [ngModelOptions]="{standalone: true}"></textarea>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="repro">¿Ha reprobado alguna clase?</label>
                                <textarea cols="5" rows="5" type="text" id="repro" placeholder="En caso de ser si, escriba cual(es), de lo contrario deje el campo vacio." class="form-control" [(ngModel)]="pedagogico.obs_reprobado" [ngModelOptions]="{standalone: true}"></textarea>
                            </div>
    
                        </div>
                        <div class="form-row">
                            <div class="form-group  offset-md-5 offset-sm-4 offset-xs-6">
                                <button *ngIf="isShown6" style="margin-top: 15px; margin-left: 14px; margin-bottom: 20px;" (click)="toggleShow2()"  class="btn btn-secondary">Siguiente</button>
                            </div>
                        </div>
                       
                    </fieldset>
                    <fieldset *ngIf="isShown3">
                        <legend>Aspectos Personales</legend>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="vive">Con quien vive actualmente</label>
                                <select id="vive" class="form-control" required [(ngModel)]="personal.codigo_convive" [ngModelOptions]="{standalone: true}" >
                                  <option selected value="">- Seleccione -</option>
                                  <option *ngFor="let x of listado_codigo_convive" [value]="x.codigo_convive">{{x.descripcion}}</option>
                                </select>
                                <small id="helper" class="form-text text-muted">
                                   Si escoge la opción "Otro", especifique en el espacio proporcionado
                                  </small>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="otro1">Especificación</label>
                                <input type="text" id="otro1" class="form-control" [(ngModel)]="personal.obs_residencias" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="ra">Situación actual de las relaciones amistosas con las personas que vive</label>
                                <select id="ra" class="form-control" required [(ngModel)]="personal.cod_relaciones_amistosas" [ngModelOptions]="{standalone: true}" >
                                  <option selected value="">- Seleccione -</option>
                                  <option *ngFor="let x of listado_codigo_amistosa" [value]="x.cod_relaciones_amistosas">{{x.descripcion}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="por">Explique porque</label>
                                <textarea cols="6" rows="4" type="text" id="por"  class="form-control" [(ngModel)]="personal.obs_relaciones_amistosas" [ngModelOptions]="{standalone: true}"></textarea>
                            </div>
                        </div>
                        <div class="form-row" style="margin-top: 40px;">
                            <div class="form-group col-md-3">
                                <label for="rs">Como es en las relaciones sociales</label>
                                <select id="rs" class="form-control" required [(ngModel)]="personal.cod_relaciones_sociales" [ngModelOptions]="{standalone: true}" >
                                  <option selected value="">- Seleccione -</option>
                                  <option *ngFor="let x of listado_codigo_sociales" [value]="x.cod_relaciones_sociales">{{x.descripcion}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="ma">¿Quien es su mejor amigo?</label>
                                <select id="ma" class="form-control" required [(ngModel)]="personal.cod_mejor_amigo" [ngModelOptions]="{standalone: true}" >
                                  <option selected value="">- Seleccione -</option>
                                  <option *ngFor="let x of listado_codigo_amigos" [value]="x.cod_mejor_amigo">{{x.descripcion}}</option>
                                </select>
                                <small id="helper1" class="form-text text-muted">
                                    Si escoge la opción "Otro", especifique en el espacio proporcionado
                                   </small>
                            </div>
                            <div class="form-group col-md-5">
                                <label for="amigo">Especificación Mejor Amigo</label>
                                <input type="text" id="amigo" class="form-control"  [(ngModel)]="personal.obs_mejor_amigo" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group offset-md-3 col-md-6">
                                <label for="noviazgo">Tiene novio</label>
                                <input type="text" id="noviazgo" class="form-control" required [(ngModel)]="personal.obs_noviazgos" [ngModelOptions]="{standalone: true}">
                                <small id="helper2" class="form-text text-muted">
                                    Si tiene,también escriba la frecuencia con la que se ven
                                </small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group offset-md-1 col-md-5">
                                <label for="deporte">Que actividad deportiva le gusta?</label>
                                <select id="deporte" class="form-control" required [(ngModel)]="personal.cod_act_deportiva" [ngModelOptions]="{standalone: true}" >
                                  <option selected value="">- Seleccione -</option>
                                  <option *ngFor="let x of listado_codigo_deportes" [value]="x.cod_act_deportiva">{{x.descripcion}}</option>
                                </select>
                                <small id="helper3" class="form-text text-muted">
                                   Si escoge la opción "Otro", especifique en el espacio proporcionado
                                  </small>
                            </div>
                            <div class="form-group  col-md-5">
                                <label for="otro2">Otro deporte</label>
                                <input type="text" id="otro2" class="form-control" [(ngModel)]="personal.obs_actividades_deportivas" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group offset-md-1 col-md-5">
                                <label for="arte">Participa en alguna actividad artística?</label>
                                <select id="arte" class="form-control" required [(ngModel)]="personal.cod_act_artistica" [ngModelOptions]="{standalone: true}" >
                                  <option selected value="">- Seleccione -</option>
                                  <option *ngFor="let x of listado_codigo_artes" [value]="x.cod_act_artistica">{{x.descripcion}}</option>
                                </select>
                                <small id="helper4" class="form-text text-muted">
                                   Si escoge la opción "Otro", especifique en el espacio proporcionado
                                  </small>
                            </div>
                            <div class="form-group col-md-5">
                                <label for="otro3">Otra arte</label>
                                <input type="text" id="otro3"  class="form-control" [(ngModel)]="personal.obs_actividades_artisticas" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="rel">Qué religion práctica?</label>
                                <input type="text" id="rel"  class="form-control" required [(ngModel)]="personal.obs_religion" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="form-group col-md-5">
                                <label for="emo">Ha vivido o vives algún problema emocional?</label>
                                <select id="emo" class="form-control" required [(ngModel)]="personal.cod_problema_emocional" [ngModelOptions]="{standalone: true}" >
                                  <option selected value="">- Seleccione -</option>
                                  <option *ngFor="let x of listado_codigo_problemas" [value]="x.cod_problema_emocional">{{x.descripcion}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="ayuda">A quien acudes cuando tienes problemas?</label>
                                <input type="text" id="ayuda" placeholder="Papá, Mamá, amigo, etc." class="form-control" required [(ngModel)]="personal.obs_ayudas" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group  offset-md-5 offset-sm-4 offset-xs-6">
                                <button *ngIf="isShown7" style="margin-top: 15px; margin-left: 14px; margin-bottom: 20px;" (click)="toggleShow3()"  class="btn btn-secondary">Siguiente</button>
                            </div>
                        </div>
                        
                    </fieldset>
                    <fieldset *ngIf="isShown4">
                        <legend>Trastornos Sintomáticos</legend>
                        <label for="" class="offset-sm-3">A presentado alguno de estos problemas?</label>
                        <div class="form-row">
                            <div class="form-group offset-sm-3 col-md-3">
                                    <div class="form-check ">
                                    <input class="form-check-input" type="checkbox" id="is" value="1" [(ngModel)]="detalletrans.codigo_trans" [ngModelOptions]="{standalone: true}"> 
                                    <label class="form-check-label" for="is">Ideas Suicidas</label>
                                  </div>
                                  <div class="form-check ">
                                    <input class="form-check-input" type="checkbox" id="taq"  value="2" [(ngModel)]="detalletrans2.codigo_trans" [ngModelOptions]="{standalone: true}">
                                    <label class="form-check-label" for="taq">Taquicardia</label>
                                  </div>
                                  <div class="form-check ">
                                    <input class="form-check-input" type="checkbox" id="bajo" value="3" [(ngModel)]="detalletrans3.codigo_trans" [ngModelOptions]="{standalone: true}"> 
                                    <label class="form-check-label" for="bajo">Bajo Rendimiento Academico</label>
                                  </div>
                                  <div class="form-check  ">
                                    <input class="form-check-input" type="checkbox" id="alt"  value="4" [(ngModel)]="detalletrans4.codigo_trans" [ngModelOptions]="{standalone: true}">
                                    <label class="form-check-label" for="alt">Alteraciones Menstruales</label>
                                  </div>
                                  <div class="form-check ">
                                    <input class="form-check-input" type="checkbox" id="cig" value="5" [(ngModel)]="detalletrans5.codigo_trans" [ngModelOptions]="{standalone: true}"> 
                                    <label class="form-check-label" for="cig">Adicciones a cigarro - alcohol</label>
                                  </div>
                                  <div class="form-check  ">
                                    <input class="form-check-input" type="checkbox" id="drog"  value="6" [(ngModel)]="detalletrans6.codigo_trans" [ngModelOptions]="{standalone: true}">
                                    <label class="form-check-label" for="drog">Otras drogas</label>
                                  </div>
                                  <div class="form-check ">
                                    <input class="form-check-input" type="checkbox" id="psi" value="7" [(ngModel)]="detalletrans7.codigo_trans" [ngModelOptions]="{standalone: true}"> 
                                    <label class="form-check-label" for="psi">Enfermedades psiquiátricas</label>
                                  </div>
                                  <div class="form-check  ">
                                    <input class="form-check-input" type="checkbox" id="vom"  value="8" [(ngModel)]="detalletrans8.codigo_trans" [ngModelOptions]="{standalone: true}">
                                    <label class="form-check-label" for="vom">Vomitos</label>
                                  </div>
                                  <div class="form-check ">
                                    <input class="form-check-input" type="checkbox" id="con" value="9" [(ngModel)]="detalletrans9.codigo_trans" [ngModelOptions]="{standalone: true}"> 
                                    <label class="form-check-label" for="con">Trastornos de conciencia</label>
                                  </div>
                                  <div class="form-check  ">
                                    <input class="form-check-input" type="checkbox" id="ins"  value="10" [(ngModel)]="detalletrans10.codigo_trans" [ngModelOptions]="{standalone: true}">
                                    <label class="form-check-label" for="ins">Insomnio</label>
                                  </div>
                                  <div class="form-check  ">
                                    <input class="form-check-input" type="checkbox" id="alim"  value="11" [(ngModel)]="detalletrans11.codigo_trans" [ngModelOptions]="{standalone: true}">
                                    <label class="form-check-label" for="alim">Trastornos alimenticios</label>
                                  </div>
                            </div>
                            <div class="form-group  col-md-3">
                                <div class="form-check ">
                                <input class="form-check-input" type="checkbox" id="desm" value="12" [(ngModel)]="detalletrans12.codigo_trans" [ngModelOptions]="{standalone: true}"> 
                                <label class="form-check-label" for="desm">Desmayos</label>
                              </div>
                              <div class="form-check ">
                                <input class="form-check-input" type="checkbox" id="memoria"  value="13" [(ngModel)]="detalletrans13.codigo_trans" [ngModelOptions]="{standalone: true}">
                                <label class="form-check-label" for="memoria">Trastornos de memoria</label>
                              </div>
                              <div class="form-check ">
                                <input class="form-check-input" type="checkbox" id="concen" value="14" [(ngModel)]="detalletrans14.codigo_trans" [ngModelOptions]="{standalone: true}"> 
                                <label class="form-check-label" for="concen">Problemas de concentración</label>
                              </div>
                              <div class="form-check  ">
                                <input class="form-check-input" type="checkbox" id="pesa"  value="15" [(ngModel)]="detalletrans15.codigo_trans" [ngModelOptions]="{standalone: true}">
                                <label class="form-check-label" for="pesa">Pesadillas</label>
                              </div>
                              <div class="form-check ">
                                <input class="form-check-input" type="checkbox" id="cefa" value="16" [(ngModel)]="detalletrans16.codigo_trans" [ngModelOptions]="{standalone: true}"> 
                                <label class="form-check-label" for="cefa">Cefaleas (dolor de cabeza)</label>
                              </div>
                              <div class="form-check  ">
                                <input class="form-check-input" type="checkbox" id="indi"  value="17" [(ngModel)]="detalletrans17.codigo_trans" [ngModelOptions]="{standalone: true}">
                                <label class="form-check-label" for="indi">Indisciplina</label>
                              </div>
                              <div class="form-check ">
                                <input class="form-check-input" type="checkbox" id="mare" value="18" [(ngModel)]="detalletrans18.codigo_trans" [ngModelOptions]="{standalone: true}"> 
                                <label class="form-check-label" for="mare">Mareos</label>
                              </div>
                              <div class="form-check  ">
                                <input class="form-check-input" type="checkbox" id="sudo"  value="19" [(ngModel)]="detalletrans19.codigo_trans" [ngModelOptions]="{standalone: true}">
                                <label class="form-check-label" for="sudo">Sudoración</label>
                              </div>
                              <div class="form-check ">
                                <input class="form-check-input" type="checkbox" id="aten" value="20" [(ngModel)]="detalletrans20.codigo_trans" [ngModelOptions]="{standalone: true}"> 
                                <label class="form-check-label" for="aten">Falta de atención</label>
                              </div>
                              <div class="form-check  ">
                                <input class="form-check-input" type="checkbox" id="depre"  value="21" [(ngModel)]="detalletrans21.codigo_trans" [ngModelOptions]="{standalone: true}">
                                <label class="form-check-label" for="depre">Depresión</label>
                              </div>
                              <div class="form-check  ">
                                <input class="form-check-input" type="checkbox" id="viol"  value="22" [(ngModel)]="detalletrans22.codigo_trans" [ngModelOptions]="{standalone: true}">
                                <label class="form-check-label" for="viol">Uso de violencia</label>
                              </div>
                        </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group  offset-md-5 offset-sm-4 offset-xs-6">
                                <button *ngIf="isShown8" style="margin-top: 15px; margin-left: 14px; margin-bottom: 20px;" (click)="toggleShow4()"  class="btn btn-secondary">Revisar</button>
                            </div>
                        </div>
                        
                    </fieldset>
                    <div class="form-row">
                        <div class="form-group offset-md-5 offset-sm-4 offset-xs-6">
                            <button *ngIf="isShown9" style="margin-top: 5px; margin-left: 40px; margin-bottom: 10px;" type="submit"
                            (click)="form.checkValidity()? insert_expediente() : null"
                            (click)="form.checkValidity()? insert_personal() : null" (click)="form.checkValidity()? insert_pedagogico() : null" 
                            (click)="form.checkValidity()? insert_ficha() : null" 
                            (click)="form.checkValidity()? insert_alumno() : null" 
                            (click)="revisar31()? fichadocumento.tipo_documento='1': fichadocumento.tipo_documento=null" (click)="revisar32()? fichadocumento2.tipo_documento='2': fichadocumento2.tipo_documento=null" 
                            (click)="revisar34()? fichadocumento4.tipo_documento='4': fichadocumento4.tipo_documento=null" (click)="revisar35()? fichadocumento5.tipo_documento='5': fichadocumento5.tipo_documento=null" 
                            (click)="revisar36()? fichadocumento6.tipo_documento='6': fichadocumento6.tipo_documento=null" (click)="revisar37()? fichadocumento7.tipo_documento='7': fichadocumento7.tipo_documento=null" 
                            (click)="revisar38()? fichadocumento8.tipo_documento='8': fichadocumento8.tipo_documento=null" 
                            (click)="form.checkValidity()?  insert_fichadocumento() : null" (click)="form.checkValidity()?  insert_fichadocumento2() : null" (click)="form.checkValidity()?   insert_fichadocumento4() : null"
                            (click)="form.checkValidity()?  insert_fichadocumento5() : null" (click)="form.checkValidity()?  insert_fichadocumento6() : null" (click)="form.checkValidity()?  insert_fichadocumento7() : null" 
                            (click)="form.checkValidity()?  insert_fichadocumento8() : null"
                            (click)="revisar1()? detalletrans.codigo_trans='1': detalletrans.codigo_trans=null" (click)="revisar2()? detalletrans2.codigo_trans='2': detalletrans2.codigo_trans=null" (click)="revisar3()? detalletrans3.codigo_trans='3': detalletrans3.codigo_trans=null"
                            (click)="revisar4()? detalletrans4.codigo_trans='4': detalletrans4.codigo_trans=null" (click)="revisar5()? detalletrans5.codigo_trans='5': detalletrans5.codigo_trans=null" (click)="revisar6()? detalletrans6.codigo_trans='6': detalletrans6.codigo_trans=null" 
                            (click)="revisar7()? detalletrans7.codigo_trans='7': detalletrans7.codigo_trans=null" (click)="revisar8()? detalletrans8.codigo_trans='8': detalletrans8.codigo_trans=null" (click)="revisar9()? detalletrans9.codigo_trans='9': detalletrans9.codigo_trans=null" 
                            (click)="revisar10()? detalletrans10.codigo_trans='10': detalletrans10.codigo_trans=null" (click)="revisar11()? detalletrans11.codigo_trans='11': detalletrans11.codigo_trans=null" (click)="revisar12()? detalletrans12.codigo_trans='12': detalletrans12.codigo_trans=null" 
                            (click)="revisar13()? detalletrans13.codigo_trans='13': detalletrans13.codigo_trans=null" (click)="revisar14()? detalletrans14.codigo_trans='14': detalletrans14.codigo_trans=null" (click)="revisar15()? detalletrans15.codigo_trans='15': detalletrans15.codigo_trans=null"
                            (click)="revisar16()? detalletrans16.codigo_trans='16': detalletrans16.codigo_trans=null" (click)="revisar17()? detalletrans17.codigo_trans='17': detalletrans17.codigo_trans=null" (click)="revisar18()? detalletrans18.codigo_trans='18': detalletrans18.codigo_trans=null"
                            (click)="revisar19()? detalletrans19.codigo_trans='19': detalletrans19.codigo_trans=null" (click)="revisar20()? detalletrans20.codigo_trans='20': detalletrans20.codigo_trans=null" (click)="revisar21()? detalletrans21.codigo_trans='21': detalletrans21.codigo_trans=null"
                            (click)="revisar22()? detalletrans22.codigo_trans='22': detalletrans22.codigo_trans=null"
                            (click)="form.checkValidity()?  insert_detalletrans() : null" (click)="form.checkValidity()?  insert_detalletrans2() : null" (click)="form.checkValidity()?  insert_detalletrans3() : null" (click)="form.checkValidity()?  insert_detalletrans4() : null"
                            (click)="form.checkValidity()?  insert_detalletrans5() : null" (click)="form.checkValidity()?  insert_detalletrans6() : null" (click)="form.checkValidity()?  insert_detalletrans7() : null" (click)="form.checkValidity()?  insert_detalletrans8() : null"
                            (click)="form.checkValidity()?  insert_detalletrans9() : null" (click)="form.checkValidity()?  insert_detalletrans10() : null" (click)="form.checkValidity()?  insert_detalletrans11() : null" (click)="form.checkValidity()?  insert_detalletrans12() : null"
                            (click)="form.checkValidity()?  insert_detalletrans13() : null" (click)="form.checkValidity()?  insert_detalletrans14() : null" (click)="form.checkValidity()?  insert_detalletrans15() : null" (click)="form.checkValidity()?  insert_detalletrans16() : null"
                            (click)="form.checkValidity()?  insert_detalletrans17() : null" (click)="form.checkValidity()?  insert_detalletrans18() : null" (click)="form.checkValidity()?  insert_detalletrans19() : null" (click)="form.checkValidity()?  insert_detalletrans20() : null"
                            (click)="form.checkValidity()?  insert_detalletrans21() : null" (click)="form.checkValidity()?  insert_detalletrans22() : null" 
                            class="btn btn-primary ">Registrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>



