<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.6/css/mdb.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark scrolling-navbar">
            <div class="container">
                <a class="navbar-brand disabled" href="#">INTAE</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" (click)="menu()">Inicio </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" (click)="registro()">Registro </a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Busquedas </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" (click)="ficha_completa()">Ficha Completa</a>
                      <a class="dropdown-item" (click)="hoja_registro()">Hoja Registro</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Mantenimientos </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" (click)="alumnos()">Alumnos Datos</a></li>
                      <li><a class="dropdown-item" (click)="alumnos_trastornos()">Alumnos Trastornos</a></li>
                      <li><a class="dropdown-item" (click)="artes()">Artes</a></li>
                      <li><a class="dropdown-item" (click)="asignatura_dificultad()">Asigatura Dificultad</a></li>
                      <li><a class="dropdown-item" (click)="asignatura_facilidad()">Asigatura Facilidad</a></li>
                      <li><a class="dropdown-item" (click)="aspectos_pedagogicos()">Aspectos Pedagógicos</a></li>
                      <li><a class="dropdown-item" (click)="aspectos_personales()">Aspectos Personales</a></li>
                      <li><a class="dropdown-item" (click)="ciudades()">Departamentos</a></li>              
                      <li><a class="dropdown-item" (click)="consideracion()">Consideración Estudios</a></li>
                      <li><a class="dropdown-item" (click)="vive()">Convive</a></li>
                      <li><a class="dropdown-item" (click)="cursos()">Cursos</a></li>
                      <li><a class="dropdown-item" (click)="deportes()">Deportes</a></li>
                      <li><a class="dropdown-item" (click)="documentos()">Documentos</a></li>
                      <li><a class="dropdown-item" (click)="estudio_constante()">Estudio Constante</a></li>
                      <li><a class="dropdown-item" (click)="fichas()">Fichas</a></li>
                      <li><a class="dropdown-item" (click)="ficha_documentos()">Fichas Documentos</a></li>
                      <li><a class="dropdown-item" (click)="jornadas()">Jornadas</a></li>
                      <li><a class="dropdown-item" (click)="mejor_amigo()">Mejores Amigos</a></li>
                      <li><a class="dropdown-item" (click)="modalidades()">Modalidades</a></li>
                      <li><a class="dropdown-item" (click)="relaciones_amistosas()">Relaciones Amistosas</a></li>
                      <li><a class="dropdown-item" (click)="relaciones_sociales()">Relaciones Sociales</a></li>
                      <li><a class="dropdown-item" (click)="rendimiento_academico()">Rendimiento Académico</a></li>
                      <li><a class="dropdown-item" (click)="problemas_emocionales()">Problemas Emocionales</a></li>
                      <li><a class="dropdown-item" (click)="secciones()">Secciones</a></li>
                      <li><a class="dropdown-item" (click)="tipo_escuela()">Tipo Escuela</a></li>
                      <li><a class="dropdown-item" (click)="trastornos()">Trastornos</a></li>
                      <li><a class="dropdown-item" (click)="listado_usuarioss()">Usuarios</a></li>
                    </ul>
                    <li class="nav-item">
                      <a class="nav-link" (click)="salir()">Cerrar Sesión</a>
                    </li>
                </ul>
                
                </div>
              </div>
          </nav>
    </header>
    <div  class=" text-center">
        <h1 class="text-success mar4"> Mantenimiento Fichas </h1>
    
           <div class="aver4">
            <table   class="table table-hover table-striped table-info text-center">
              <thead class="thead-dark">
                  <tr>
                      <th>No. de Ficha</th>
                      <th>Curso</th>
                      <th>Sección</th>
                      <th>Modalidad</th>
                      <th>Jornada</th>
                      <th>Departamento de Nacimiento</th>
                      <th>Año de Ingreso</th>
                      <th>Instituto de Procedencia</th>
                      <th>Índice Académico</th>
                      <th>Repite Curso</th>
                      <th>Materia Retrasada</th>
                      <th>Becas</th>
                      <th>Contacto de Emergencia</th>
                      <th>Número de Emergencia</th>
                      <th>Observaciones</th>
                      <th></th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let x of listado_fichas">
                      <td>{{x.num_ficha}}</td>
                      <td>{{x.desc_curso}}</td>
                      <td>{{x.desc_seccion}}</td>
                      <td>{{x.desc_modadlidad}}</td>
                      <td>{{x.desc_jornada}}</td>
                      <td>{{x.nom_ciudad}}</td>
                      <td>{{x.anio}}</td>
                      <td>{{x.obs_inst_proced}}</td>
                      <td>{{x.indice_acad}}</td>
                      <td class="nojo">{{x.obs_repite_curso}}</td>
                      <td class="nojo">{{x.obs_materia_restrada}}</td>
                      <td class="nojo">{{x.obs_beca}}</td>
                      <td>{{x.contacto_emergencia}}</td>
                      <td>{{x.num_emergencia}}</td>
                      <td class="nojo">{{x.observaciones}}</td>
                      <td><button (click)="pass_code(x.num_ficha,x.cod_curso,x.cod_seccion,x.cod_modalidad,x.cod_jornada,x.cod_ciudad,x.anio,x.obs_inst_proced,x.indice_acad,x.obs_repite_curso,x.obs_materia_restrada,x.obs_beca,x.contacto_emergencia,x.num_emergencia,x.observaciones,x.motivacion_ingreso)"type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">Actualizar</button></td>
                      <td><button (click)="delete_ficha(x.num_ficha)" class="btn btn-danger">Borrar</button></td>
                  </tr>
              </tbody>
          </table>
           </div>
            
    </div>

    


    <div class="aligncenter">
        <button (click)="toggleShow()" class="mar3 btn btn-primary" >Nuevo Registro</button>
    </div>
    
    <div *ngIf="isShown" class="center aligncenter container-fluid"  id="divshow"  >
        <div class="container-md border rounded border-primary mar1">
            <div class="container-md">
                <form action="/" enctype="multipart/form-data" method="post" ngNativeValidate #form>
                    <div class="form-row">
                        <div class="form-group offset-md-1 col-md-2">
                            <label for="curso">Curso</label>
                            <select id="curso" class="form-control" required [(ngModel)]="ficha.cod_curso" [ngModelOptions]="{standalone: true}" >
                              <option selected value="">- Seleccione -</option>
                              <option *ngFor="let x of listado_codigo_curso" [value]="x.cod_curso">{{x.desc_curso}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="mod">Modalidad</label>
                            <select id="mod" class="form-control" required [(ngModel)]="ficha.cod_modalidad" [ngModelOptions]="{standalone: true}" >
                              <option selected value="">- Seleccione -</option>
                              <option *ngFor="let x of listado_codigo_modalidad" [value]="x.cod_modalidad">{{x.desc_modadlidad}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group offset-md-3 col-md-2">
                            <label for="sec">Sección</label>
                            <select id="sec" class="form-control" required [(ngModel)]="ficha.cod_seccion" [ngModelOptions]="{standalone: true}" >
                              <option selected value="">- Seleccione -</option>
                              <option *ngFor="let x of listado_codigo_seccion" [value]="x.cod_seccion">{{x.desc_seccion}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="jor">Jornada</label>
                            <select id="jor" class="form-control" required [(ngModel)]="ficha.cod_jornada" [ngModelOptions]="{standalone: true}" >
                              <option selected value="">- Seleccione -</option>
                              <option *ngFor="let x of listado_codigo_jornada" [value]="x.cod_jornada">{{x.desc_jornada}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group offset-md-3 col-md-6">
                            <label for="ciu">Departamento de Nacimiento</label>
                            <select id="ciu" class="form-control" required [(ngModel)]="ficha.cod_ciudad" [ngModelOptions]="{standalone: true}" >
                              <option selected value="">- Seleccione -</option>
                              <option *ngFor="let x of listado_codigo_ciudad" [value]="x.cod_ciudad">{{x.nom_ciudad}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="anio">Año de Ingreso</label>
                            <input type="number" id="anio" class="form-control" minlength=4 maxlength=4 max=2100 min=1978 onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" required [(ngModel)]="ficha.anio" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="proce">Instituto de Procedencia</label>
                            <input type="text" id="proce" class="form-control" required onkeyup="this.value=this.value.replace(/[^a-z,\sA-Z0-9ñÑáéíóúÁÉÍÓÚüÜ]/g,'');" [(ngModel)]="ficha.obs_inst_proced" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="ind">Índice Académico</label>
                            <input type="number" id="ind" min="0" max="100" setp="1" class="form-control" max-length=3 required [(ngModel)]="ficha.indice_acad" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="repcurso">Repite Curso</label>
                            <textarea cols="2" rows="4" type="text" id="repcurso" onkeyup="this.value=this.value.replace(/[^a-z\sA-ZñÑáéíóúÁÉÍÓÚüÜ0-9]/g,'');"  placeholder="Sí o No" class="form-control" required [(ngModel)]="ficha.obs_repite_curso" [ngModelOptions]="{standalone: true}"></textarea>
                            <small id="helper1" class="form-text text-muted">
                               Si su respuesta es sí, escriba cual
                               </small>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="matre">Lleva materia retrasada</label>
                            <input type="text" id="matre" placeholder="Sí o No" onkeyup="this.value=this.value.replace(/[^a-z\sA-ZñÑáéíóúÁÉÍÓÚüÜ0-9]/g,'');" class="form-control" required [(ngModel)]="ficha.obs_materia_restrada" [ngModelOptions]="{standalone: true}">
                            <small id="helper2" class="form-text text-muted">
                               Si su respuesta es sí, escriba cual
                               </small>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="beca">Tiene Beca</label>
                            <textarea cols="2" rows="4" type="text" id="beca"  onkeyup="this.value=this.value.replace(/[^a-z\sA-ZñÑáéíóúÁÉÍÓÚüÜ0-9]/g,'');" class="form-control" placeholder="Sí o No" required [(ngModel)]="ficha.obs_beca" [ngModelOptions]="{standalone: true}"></textarea>
                            <small id="helper3" class="form-text text-muted">
                               Si su respuesta es sí, escriba cual
                               </small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-group mar7">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Contacto de Emergencia</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Nombre" onkeyup="this.value=this.value.replace(/[^a-z\sA-ZñÑáéíóúÁÉÍÓÚüÜ]/g,'');" required [(ngModel)]="ficha.contacto_emergencia" [ngModelOptions]="{standalone: true}">
                            <input type="text"  class="form-control" placeholder="Teléfono"  min-length=8 max-length=8 onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" required [(ngModel)]="ficha.num_emergencia" [ngModelOptions]="{standalone: true}">
                          </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="obs">Observaciones</label>
                            <textarea cols="8" rows="6" type="text" id="obs"  class="form-control" [(ngModel)]="ficha.observaciones" [ngModelOptions]="{standalone: true}"></textarea>
                        </div>
                    </div>
                    <button  type="submit" (click)="form.checkValidity()? insert_ficha() : null" class="btn btn-primary mar12">Insertar</button>
                    <button  type="submit" (click)="toggleShow()" class="btn btn-secondary mar12">Esconder</button>
                </form>
            </div>
        </div>
    </div>
    

  <div class="modal fade" id="staticBackdrop"  tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Actualización de Registro</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container-md">
                <div class="container-md">
                    <form action="/" enctype="multipart/form-data" method="post" ngNativeValidate #form1>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="curs">Curso</label>
                                <select id="curs" class="form-control"  [(ngModel)]="ficha.cod_curso" [ngModelOptions]="{standalone: true}" >
                                  <option selected value="">Seleccione</option>
                                  <option *ngFor="let x of listado_codigo_curso" [value]="x.cod_curso">{{x.desc_curso}}</option>
                                </select>
                            </div>
                            <div class="form-group  col-md-4">
                                <label for="secc">Sección</label>
                                <select id="secc" class="form-control"  [(ngModel)]="ficha.cod_seccion" [ngModelOptions]="{standalone: true}" >
                                  <option selected value="">Seleccione</option>
                                  <option *ngFor="let x of listado_codigo_seccion" [value]="x.cod_seccion">{{x.desc_seccion}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="jorn">Jornada</label>
                                <select id="jorn" class="form-control"  [(ngModel)]="ficha.cod_jornada" [ngModelOptions]="{standalone: true}" >
                                  <option selected value="">Seleccione</option>
                                  <option *ngFor="let x of listado_codigo_jornada" [value]="x.cod_jornada">{{x.desc_jornada}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="moda">Modalidad</label>
                                <select id="moda" class="form-control"  [(ngModel)]="ficha.cod_modalidad" [ngModelOptions]="{standalone: true}" >
                                  <option selected value="">- Seleccione -</option>
                                  <option *ngFor="let x of listado_codigo_modalidad" [value]="x.cod_modalidad">{{x.desc_modadlidad}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group offset-md-3 col-md-6">
                                <label for="ciud">Departamento de Nacimiento</label>
                                <select id="ciud" class="form-control"  [(ngModel)]="ficha.cod_ciudad" [ngModelOptions]="{standalone: true}" >
                                  <option selected value="">- Seleccione -</option>
                                  <option *ngFor="let x of listado_codigo_ciudad" [value]="x.cod_ciudad">{{x.nom_ciudad}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group offset-md-1 col-md-5">
                                <label for="ani">Año de Ingreso</label>
                                <input type="number" id="ani" class="form-control" minlength=4 maxlength=4 max=2080 min=1978 onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" [(ngModel)]="ficha.anio" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="form-group col-md-5">
                                <label for="in">Índice Académico</label>
                                <input type="number" id="in" min="0" max="100" setp="1" max-length=3 class="form-control"  [(ngModel)]="ficha.indice_acad" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="proc">Instituto de Procedencia</label>
                                <input type="text" id="proc" class="form-control"  onkeyup="this.value=this.value.replace(/[^a-z,\sA-Z0-9ñÑáéíóúÁÉÍÓÚüÜ]/g,'');" [(ngModel)]="ficha.obs_inst_proced" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="repcurs">Repite Curso</label>
                                <textarea cols="4" rows="3" type="text" id="repcurs" placeholder="Sí o No" class="form-control"  [(ngModel)]="ficha.obs_repite_curso" [ngModelOptions]="{standalone: true}"></textarea>
                                <small id="helper4" class="form-text text-muted">
                                   Si su respuesta es sí, escriba cual
                                   </small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="bec">Tiene Beca</label>
                                <textarea cols="4" rows="3" type="text" id="bec"  class="form-control" placeholder="Sí o No"  [(ngModel)]="ficha.obs_beca" [ngModelOptions]="{standalone: true}"></textarea>
                                <small id="helper6" class="form-text text-muted">
                                   Si su respuesta es sí, escriba cual
                                   </small>
                            </div>
                        </div>
                        <div clas="form-row">
                            <div class="form-group col-md-12 pad">
                                <label for="matr">Lleva materia retrasada</label>
                                <textarea cols="4" rows="3" type="text" id="matr" placeholder="Sí o No" class="form-control"  [(ngModel)]="ficha.obs_materia_restrada" [ngModelOptions]="{standalone: true}"></textarea>
                                <small id="helper5" class="form-text text-muted">
                                   Si su respuesta es sí, escriba cual
                                   </small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="input-group mar7">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Contacto de Emergencia</span>
                                </div>
                              <input type="text" class="form-control" placeholder="Nombre" onkeyup="this.value=this.value.replace(/[^a-zsA-Z\sñÑáéíóúÁÉÍÓÚüÜ]/g,'');" [(ngModel)]="ficha.contacto_emergencia" [ngModelOptions]="{standalone: true}">
                                <input type="text"  class="form-control" placeholder="Teléfono"  min-length=8 max-length=8 onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"[(ngModel)]="ficha.num_emergencia" [ngModelOptions]="{standalone: true}">
                              </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="ob">Observaciones</label>
                                <textarea cols="8" rows="6" type="text" id="ob"  class="form-control" [(ngModel)]="ficha.observaciones" [ngModelOptions]="{standalone: true}"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" (click)="form1.checkValidity()? update_ficha() : errores()"  class="btn btn-primary">Actualizar</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>



