<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.6/css/mdb.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark scrolling-navbar">
            <div class="container">
                <a class="navbar-brand disabled" href="#">INTAE</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" (click)="menu()">Inicio </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" (click)="registro()">Registro </a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Busquedas </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" (click)="ficha_completa()">Ficha Completa</a>
                      <a class="dropdown-item" (click)="hoja_registro()">Hoja Registro</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Mantenimientos </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" (click)="alumnos()">Alumnos Datos</a></li>
                      <li><a class="dropdown-item" (click)="alumnos_trastornos()">Alumnos Trastornos</a></li>
                      <li><a class="dropdown-item" (click)="artes()">Artes</a></li>
                      <li><a class="dropdown-item" (click)="asignatura_dificultad()">Asigatura Dificultad</a></li>
                      <li><a class="dropdown-item" (click)="asignatura_facilidad()">Asigatura Facilidad</a></li>
                      <li><a class="dropdown-item" (click)="aspectos_pedagogicos()">Aspectos Pedagógicos</a></li>
                      <li><a class="dropdown-item" (click)="aspectos_personales()">Aspectos Personales</a></li>
                      <li><a class="dropdown-item" (click)="ciudades()">Ciudades</a></li>              
                      <li><a class="dropdown-item" (click)="consideracion()">Consideración Estudios</a></li>
                      <li><a class="dropdown-item" (click)="vive()">Convive</a></li>
                      <li><a class="dropdown-item" (click)="cursos()">Cursos</a></li>
                      <li><a class="dropdown-item" (click)="deportes()">Deportes</a></li>
                      <li><a class="dropdown-item" (click)="documentos()">Documentos</a></li>
                      <li><a class="dropdown-item" (click)="estudio_constante()">Estudio Constante</a></li>
                      <li><a class="dropdown-item" (click)="fichas()">Fichas</a></li>
                      <li><a class="dropdown-item" (click)="ficha_documentos()">Fichas Documentos</a></li>
                      <li><a class="dropdown-item" (click)="jornadas()">Jornadas</a></li>
                      <li><a class="dropdown-item" (click)="mejor_amigo()">Mejores Amigos</a></li>
                      <li><a class="dropdown-item" (click)="modalidades()">Modalidades</a></li>
                      <li><a class="dropdown-item" (click)="relaciones_amistosas()">Relaciones Amistosas</a></li>
                      <li><a class="dropdown-item" (click)="relaciones_sociales()">Relaciones Sociales</a></li>
                      <li><a class="dropdown-item" (click)="rendimiento_academico()">Rendimiento Académico</a></li>
                      <li><a class="dropdown-item" (click)="problemas_emocionales()">Problemas Emocionales</a></li>
                      <li><a class="dropdown-item" (click)="secciones()">Secciones</a></li>
                      <li><a class="dropdown-item" (click)="tipo_escuela()">Tipo Escuela</a></li>
                      <li><a class="dropdown-item" (click)="trastornos()">Trastornos</a></li>
                      <li><a class="dropdown-item" (click)="listado_usuarioss()">Usuarios</a></li>
                    </ul>
                    <li class="nav-item">
                      <a class="nav-link" (click)="salir()">Cerrar Sesión</a>
                    </li>
                </ul>
                
                </div>
              </div>
          </nav>
    </header>
    <div   class="text-center">
        <h1 class="text-success mar4">Mantenimiento Actividades Deportivas </h1>
    
            
            <table  class="table table-hover table-striped table-info text-center">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre del Deporte</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let x of listado_deporte">
                    <td>{{x.descripcion}}</td>
                    <td><button (click)="pass_code(x.cod_act_deportiva)"type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">Actualizar</button></td>
                    <td><button (click)="delete_deporte(x.cod_act_deportiva)" class="btn btn-danger">Borrar</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    


    <div class="aligncenter">
        <button   (click)="toggleShow()" class="mar3 btn btn-primary">Nueva actividad deportiva</button>
    </div>
    
    <div *ngIf="isShown" class="center aligncenter container-fluid"  id="divshow" >
        <div class="container-md border rounded border-primary mar1" >
            <div class="container-md">
                <form action="/" enctype="multipart/form-data"  method="post" ngNativeValidate #form>
                    <div class="form-group offset-md-3 col-md-6">
                        <label for="sec">Nombre del Deporte</label>
                        <input type="text" id="sec" class="form-control" onkeyup="this.value=this.value.replace(/[^a-z,\sA-ZñÑáéíóúÁÉÍÓÚüÜ]/g,'');" required [(ngModel)]="deporte.descripcion" [ngModelOptions]="{standalone: true}" >
                    </div>
                    <button  (click)="form.checkValidity()?  insert_deporte() : null" class="btn btn-primary mar12">Insertar Deporte</button>
                    <button  (click)="toggleShow()"  class="btn btn-secondary mar12">Esconder</button>
                </form>
            </div>
        </div>
    </div>
    

  <div class="modal fade" id="staticBackdrop"  tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Actualización de Actividad</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container-md" style="margin-bottom: 10px; margin-left: auto;">
                <div class="container-md">
                    <form action="/" enctype="multipart/form-data"  method="put" ngNativeValidate #form1>
                        <div class="form-group">
                            <label for="sec">Nombre del Deporte</label>
                            <input type="text" id="sec" class="form-control" onkeyup="this.value=this.value.replace(/[^a-z,\sA-ZñÑáéíóúÁÉÍÓÚüÜ]/g,'');" required [(ngModel)]="deporte.descripcion" [ngModelOptions]="{standalone: true}" >
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button (click)="form1.checkValidity()? update_deporte() : null"  class="btn btn-primary">Actualizar</button>
        </div>
      </div>
    </div>
  </div>

</body>
</html>



