<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .mar3{
            margin-left: 25px;
        }
    </style>
</head>
<body>
    <div style="margin-right: 25px;" class="mar3 text-center">
        <h1 class="text-success"> Mantenimiento Usuarios </h1>
          
            <table style="margin-right: 25px;"  class="table table-hover table-striped table-info text-center">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Usuario</th>
                    <th>Contraseña</th>
                    <th>Correo</th>
                    <th>Tipo</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let x of listado_info">
                    <td>{{x.nombre}}</td>
                    <td>{{x.apellido}}</td>
                    <td>{{x.usuario}}</td>
                    <td>{{x.pass}}</td>
                    <td>{{x.correo}}</td>
                    <td>{{x.tipo}}</td>
                    <td><button (click)="pass_code(x.codigo)"type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">Actualizar</button></td>
                    <td><button (click)="delete_usuario(x.codigo)" class="btn btn-danger">Borrar</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    


    
    <button style="margin-bottom: 10px;" (click)="toggleShow()" class="mar3 btn btn-primary">Nuevo Usuario</button>
    <div  style="margin-bottom: 10px;" *ngIf="isShown" class="row container-fluid"  id="divshow" >
        <div  class="container-md border rounded border-primary">
            <div class="container-md">
                <form action="/" enctype="multipart/form-data" method="post" ngNativeValidate #form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nom">Nombre</label>
                            <input type="text" id="nom" class="form-control" required [(ngModel)]="usuario.nombre" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="apell">Apellido</label>
                            <input type="text" id="apell" class="form-control" required [(ngModel)]="usuario.apellido" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="usu">Usuario</label>
                            <input type="text" id="usu" class="form-control" required [(ngModel)]="usuario.usuario" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="cont">Contraseña</label>
                            <input type="text" id="cont" class="form-control" required [(ngModel)]="usuario.pass" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="cor">Correo</label>
                            <input type="text" id="cor" class="form-control" required [(ngModel)]="usuario.correo" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="usuario" style="margin-right: 10px;">Tipo de Usuario</label>
                            <div class="form-check" id="rendimiento">
                                <input type="radio" required [(ngModel)]="usuario.tipo" name="optadio" id="ms" value="Administrador">
                                <label class="form-check-label" for="ms">Administrador</label>
                            </div>
                            <div class="form-check">
                                <input type="radio"  [(ngModel)]="usuario.tipo" name="optadio" id="com" value="Comun">
                                <label class="form-check-label" for="com">Comun</label>
                            </div>
                        </div>
                    </div>
                    <button style="margin-top: 5px; margin-left: 14px; margin-bottom: 10px;" (click)="form.checkValidity()? insert_usuario() : null" class="btn btn-primary">Insertar Usuario</button>
                    <button style="margin-top: 5px; margin-left: 14px; margin-bottom: 10px;" (click)="toggleShow()" class="btn btn-primary">Esconder</button>
                </form>
            </div>
        </div>
    </div>
    

  <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Actualización de Usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div  class="container-md">
                <div class="container-md">
                    <form action="/" enctype="multipart/form-data" method="put" ngNativeValidate #form1>
                        <div class="form-group">
                            <label for="nom">Nombre</label>
                            <input type="text" id="nom" class="form-control" required [(ngModel)]="usuario.nombre" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group">
                            <label for="apell">Apellido</label>
                            <input type="text" id="apell" class="form-control" required [(ngModel)]="usuario.apellido" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group">
                            <label for="usu">Usuario</label>
                            <input type="text" id="usu" class="form-control" required [(ngModel)]="usuario.usuario" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group">
                            <label for="cont">Contraseña</label>
                            <input type="password" id="cont" class="form-control" required [(ngModel)]="usuario.pass" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group">
                            <label for="cor">Correo</label>
                            <input type="text" id="cor" class="form-control" required [(ngModel)]="usuario.correo" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group">
                            <label for="usuario" style="margin-right: 10px;">Tipo de Usuario</label>
                            <div class="form-check form-check-inline" id="rendimiento">
                                <input type="radio" required [(ngModel)]="usuario.tipo" name="optadio" id="ms" value="Administrador">
                                <label class="form-check-label" for="ms">Administrador</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio"  [(ngModel)]="usuario.tipo" name="optadio" id="com" value="Comun">
                                <label class="form-check-label" for="com">Comun</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button (click)="form1.checkValidity()? update_usuario() : errores()"  class="btn btn-primary">Actualizar</button>
          </div>
      </div>
    </div>
  </div>

</body>
</html>



