<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .mar3{
            margin-left: 25px;
        }
    </style>
</head>
<body>
    <div style="margin-right: 25px;" class="mar3 text-center">
        <h1 class="text-success"> Mantenimiento Aspectos Pedagogicos </h1>
    
           
            <table style="margin-right: 25px;"  class="table table-hover table-striped table-info text-center">
            <thead class="thead-dark">
                <tr>
                    <th>Motivos de Ingreso</th>
                    <th>Donde Curso Sexto Grado</th>
                    <th>Ubicación</th>
                    
                    <th>Tipo de Escuela</th>
                    <th>Rendimiento Academico</th>
                    <th>Asignatura Dificultad</th>
                    <th>Asignatura Facilidad</th>
                    <th>Forma de Estudio</th>
                    <th>Se Considera un Estudiante</th>
                    <th>Reprobado algun curso o clase</th>
                    <th>Reportado</th>
                    <th>Expulsado</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let x of listado_pedagogicos">
                    <td>{{x.motivos}}</td>
                    <td>{{x.sexto_grado_cursado}}</td>
                    <td>{{x.ubicacion_centro_anterior}}</td>
                    
                    <td>{{x.descripcion}}</td>
                    <td>{{x.descripcion_rendimiento}}</td>
                    <td>{{x.descripcion_dificil}}</td>
                    <td>{{x.descripcion_facil}}</td>
                    <td>{{x.descripcion_estudio}}</td>
                    <td>{{x.descripcion_consideracion}}</td>
                    <td>{{x.obs_reprobado}}</td>
                    <td>{{x.obs_reportes}}</td>
                    <td>{{x.obs_expulsion}}</td>
                    
                    <td><button (click)="pass_code(x.codigo_pedagogicos)"type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">Actualizar</button></td>
                    <td><button (click)="delete_pedagogico(x.codigo_pedagogicos)" class="btn btn-danger">Borrar</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    


    
    <button (click)="toggleShow()" class="mar3 btn btn-primary" style="margin-bottom: 10px;">Nuevo Registro</button>
    <div *ngIf="isShown" class="row container-fluid"  id="divshow" style="margin-bottom: 10px;" >
        <div class="container-md border rounded border-primary">
            <div class="container-md">
                <form action="/" enctype="multipart/form-data" method="post" ngNativeValidate #form>
                    <div style="margin-top: 8px;" class="form-group">
                        <label for="motivos">Motivos de Ingreso</label>
                        <textarea cols="8" rows="6" type="text" id="motivos" class="form-control" required [(ngModel)]="pedagogico.motivos" [ngModelOptions]="{standalone: true}"></textarea>
                        
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="sexto">Donde Curso Sexto Grado</label>
                            <input type="text" id="sexto"  class="form-control" required [(ngModel)]="pedagogico.sexto_grado_cursado" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="ubicacion">Ubicación del Centro Académico Anterior</label>
                            <input type="text" id="ubicacion" class="form-control" required [(ngModel)]="pedagogico.ubicacion_centro_anterior" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group col-md-4" >
                            <label for="escuela">Tipo de Escuela de la que proviene</label>
                            <select id="escuela" class="form-control" required [(ngModel)]="pedagogico.codigo_escuela" [ngModelOptions]="{standalone: true}" >
                              <option selected value="">- Seleccione -</option>
                              <option *ngFor="let x of listado_codigo" [value]="x.codigo_escuela">{{x.descripcion}}</option>
                            </select>
                          </div>
                    </div>
                    <div class="form-group">
                        <label for="rendimiento" style="margin-right: 10px;">Rendimiento Academico</label>
                        <div class="form-check form-check-inline" id="rendimiento">
                            <input type="radio" required [(ngModel)]="pedagogico.codigo_rendimiento" name="optadio" id="ms" value="1">
                            <label class="form-check-label" for="ms">Muy Satisfactorio</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio"  [(ngModel)]="pedagogico.codigo_rendimiento" name="optadio" id="satisfactorio" value="2">
                            <label class="form-check-label" for="satisfactorio">Satisfactorio</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" [(ngModel)]="pedagogico.codigo_rendimiento" name="optadio" id="insuficiente" value="3">
                            <label class="form-check-label" for="insuficiente">Insuficiente</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" [(ngModel)]="pedagogico.codigo_rendimiento" name="optadio" id="avanzado" value="4">
                            <label class="form-check-label" for="avanzado">Avanzado</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="dificultad" style="margin-right: 10px;">Asignatura que presenta dificultad</label>
                            <div class="form-check form-check-inline" id="dificultad">
                                <input type="radio" required [(ngModel)]="pedagogico.cod_asignatura_dificultad" name="opadio" id="matd" value="1">
                                <label class="form-check-label" for="matd">Matemáticas</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" [(ngModel)]="pedagogico.cod_asignatura_dificultad" name="opadio" id="espd" value="2">
                                <label class="form-check-label" for="espd">Español</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" [(ngModel)]="pedagogico.cod_asignatura_dificultad" name="opadio" id="cnd" value="3">
                                <label class="form-check-label" for="cnd">CC.NN.</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" [(ngModel)]="pedagogico.cod_asignatura_dificultad" name="opadio" id="csd" value="4">
                                <label class="form-check-label" for="csd">CC.SS.</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" [(ngModel)]="pedagogico.cod_asignatura_dificultad" name="opadio" id="fd" value="5">
                                <label class="form-check-label" for="fd">Física</label>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="facilidad" style="margin-right: 10px;">Asignatura que se le facilita</label>
                            <div class="form-check form-check-inline" id="facilidad">
                                <input type="radio"required [(ngModel)]="pedagogico.cod_asignatura_facilidad" name="opdio" id="matf" value="1">
                                <label class="form-check-label" for="matf">Matemáticas</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" [(ngModel)]="pedagogico.cod_asignatura_facilidad" name="opdio" id="espf" value="2">
                                <label class="form-check-label" for="espf">Español</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" [(ngModel)]="pedagogico.cod_asignatura_facilidad" name="opdio" id="cnf" value="3">
                                <label class="form-check-label" for="cnf">CC.NN.</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" [(ngModel)]="pedagogico.cod_asignatura_facilidad" name="opdio" id="csf" value="4">
                                <label class="form-check-label" for="csf">CC.SS.</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" [(ngModel)]="pedagogico.cod_asignatura_facilidad" name="opdio" id="ff" value="5">
                                <label class="form-check-label" for="ff">Física</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="estudio" style="margin-right: 10px;">Forma de Estudio</label>
                            <div class="form-check form-check-inline" id="estudio">
                                <input type="radio" required [(ngModel)]="pedagogico.codigo_estudio" name="optdio"  id="dia" value="1">
                                <label class="form-check-label" for="dia">Diariamente</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" [(ngModel)]="pedagogico.codigo_estudio" name="optdio" id="se" value="2">
                                <label class="form-check-label" for="se">Solo para examen</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" [(ngModel)]="pedagogico.codigo_estudio" name="optdio" id="ne" value="3">
                                <label class="form-check-label" for="ne">No estudia</label>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="estudiante" style="margin-right: 10px;">Se considera un estudiante</label>
                            <div class="form-check form-check-inline" id="estudiante">
                                <input type="radio"required [(ngModel)]="pedagogico.cod_consideracion" name="opadi" id="exc" value="1">
                                <label class="form-check-label" for="exc">Excelente</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" [(ngModel)]="pedagogico.cod_consideracion" name="opadi" id="mb" value="2">
                                <label class="form-check-label" for="mb">Muy bueno</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" [(ngModel)]="pedagogico.cod_consideracion" name="opadi" id="b" value="3">
                                <label class="form-check-label" for="b">Bueno</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" [(ngModel)]="pedagogico.cod_consideracion" name="opadi" id="reg" value="4">
                                <label class="form-check-label" for="reg">Regular</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="repor">¿Ha sido reportado?</label>
                            <textarea cols="5" rows="5" type="text" id="repor" placeholder="En caso de ser si, escriba porque, de lo contrario deje el campo vacio." class="form-control" [(ngModel)]="pedagogico.obs_reportes" [ngModelOptions]="{standalone: true}"></textarea>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="expu">¿Ha sido expulsado?</label>
                            <textarea cols="5" rows="5" type="text" id="expu" placeholder="En caso de ser si, escriba porque, de lo contrario deje el campo vacio." class="form-control" [(ngModel)]="pedagogico.obs_expulsion" [ngModelOptions]="{standalone: true}"></textarea>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="repro">¿Ha reprobado alguna clase?</label>
                            <textarea cols="5" rows="5" type="text" id="repro" placeholder="En caso de ser si, escriba cual(es), de lo contrario deje el campo vacio." class="form-control" [(ngModel)]="pedagogico.obs_reprobado" [ngModelOptions]="{standalone: true}"></textarea>
                        </div>

                    </div>
                    <button style="margin-top: 5px; margin-left: 14px; margin-bottom: 10px;" type="submit" (click)="form.checkValidity()? insert_pedagogico() : null" class="btn btn-primary">Insertar</button>
                    <button style="margin-top: 5px; margin-left: 14px; margin-bottom: 10px;" type="submit" (click)="toggleShow()" class="btn btn-primary">Esconder</button>
                </form>
            </div>
        </div>
    </div>
    

  <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Actualización de Registro</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container-md">
                <div class="container-md">
                    <form ngNativeValidate #form1>
                        <div style="margin-top: 8px;" class="form-group">
                            <label for="mot">Motivos de Ingreso</label>
                            <textarea cols="8" rows="6" id="mot" type="text" class="form-control" required [(ngModel)]="pedagogico.motivos" [ngModelOptions]="{standalone: true}"></textarea>
                            
                        </div>
                        <div class="form-group">
                                <label for="sto">Donde Curso Sexto Grado</label>
                                <input type="text" id="sto"  class="form-control" required [(ngModel)]="pedagogico.sexto_grado_cursado" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group">
                                <label for="ubica">Ubicación del Centro Académico Anterior</label>
                                <input type="text" id="ubica" class="form-control" required [(ngModel)]="pedagogico.ubicacion_centro_anterior" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group">
                                <label for="escuel">Tipo de Escuela de la que proviene</label>
                                <select id="escuela" class="form-control" required [(ngModel)]="pedagogico.codigo_escuela" [ngModelOptions]="{standalone: true}" >
                                    <option selected value="">- Seleccione -</option>
                                    <option *ngFor="let x of listado_codigo" [value]="x.codigo_escuela">{{x.descripcion}}</option>
                                </select>                           
                        </div>
                        <div class="form-group">
                            <label for="rendimiento" style="margin-right: 10px;">Rendimiento Academico</label>
                            <div class="form-check" id="rendimiento">
                                <input type="radio" required [(ngModel)]="pedagogico.codigo_rendimiento" name="optadio" id="ms" value="1">
                                <label class="form-check-label" for="ms">Muy Satisfactorio</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" [(ngModel)]="pedagogico.codigo_rendimiento" name="optadio" id="satisfactorio" value="2">
                                <label class="form-check-label" for="satisfactorio">Satisfactorio</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" [(ngModel)]="pedagogico.codigo_rendimiento" name="optadio" id="insuficiente" value="3">
                                <label class="form-check-label" for="insuficiente">Insuficiente</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" [(ngModel)]="pedagogico.codigo_rendimiento" name="optadio" id="avanzado" value="4">
                                <label class="form-check-label" for="avanzado">Avanzado</label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="dificultad" style="margin-right: 10px;">Asignatura que presenta dificultad</label>
                                <div class="form-check" id="dificultad">
                                    <input type="radio" required [(ngModel)]="pedagogico.cod_asignatura_dificultad" name="opadio" id="matd" value="1">
                                    <label class="form-check-label" for="matd">Matemáticas</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" [(ngModel)]="pedagogico.cod_asignatura_dificultad" name="opadio" id="espd" value="2">
                                    <label class="form-check-label" for="espd">Español</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" [(ngModel)]="pedagogico.cod_asignatura_dificultad" name="opadio" id="cnd" value="3">
                                    <label class="form-check-label" for="cnd">CC.NN.</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" [(ngModel)]="pedagogico.cod_asignatura_dificultad" name="opadio" id="csd" value="4">
                                    <label class="form-check-label" for="csd">CC.SS.</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" [(ngModel)]="pedagogico.cod_asignatura_dificultad" name="opadio" id="fd" value="5">
                                    <label class="form-check-label" for="fd">Física</label>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="facilidad" style="margin-right: 10px;">Asignatura que se le facilita</label>
                                <div class="form-check" id="facilidad">
                                    <input type="radio" required [(ngModel)]="pedagogico.cod_asignatura_facilidad" name="opdio" id="matf" value="1">
                                    <label class="form-check-label" for="matf">Matemáticas</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" [(ngModel)]="pedagogico.cod_asignatura_facilidad" name="opdio" id="espf" value="2">
                                    <label class="form-check-label" for="espf">Español</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" [(ngModel)]="pedagogico.cod_asignatura_facilidad" name="opdio" id="cnf" value="3">
                                    <label class="form-check-label" for="cnf">CC.NN.</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" [(ngModel)]="pedagogico.cod_asignatura_facilidad" name="opdio" id="csf" value="4">
                                    <label class="form-check-label" for="csf">CC.SS.</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" [(ngModel)]="pedagogico.cod_asignatura_facilidad" name="opdio" id="ff" value="5">
                                    <label class="form-check-label" for="ff">Física</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="estudio" style="margin-right: 10px;">Forma de Estudio</label>
                                <div class="form-check" id="estudio">
                                    <input type="radio" required [(ngModel)]="pedagogico.codigo_estudio" name="optdio"  id="dia" value="1">
                                    <label class="form-check-label" for="dia">Diariamente</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" [(ngModel)]="pedagogico.codigo_estudio" name="optdio" id="se" value="2">
                                    <label class="form-check-label" for="se">Solo para examen</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" [(ngModel)]="pedagogico.codigo_estudio" name="optdio" id="ne" value="3">
                                    <label class="form-check-label" for="ne">No estudia</label>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="estudiante" style="margin-right: 10px;">Se considera un estudiante</label>
                                <div class="form-check" id="estudiante">
                                    <input type="radio" required [(ngModel)]="pedagogico.cod_consideracion" name="opadi" id="exc" value="1">
                                    <label class="form-check-label" for="exc">Excelente</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" [(ngModel)]="pedagogico.cod_consideracion" name="opadi" id="mb" value="2">
                                    <label class="form-check-label" for="mb">Muy bueno</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" [(ngModel)]="pedagogico.cod_consideracion" name="opadi" id="b" value="3">
                                    <label class="form-check-label" for="b">Bueno</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" [(ngModel)]="pedagogico.cod_consideracion" name="opadi" id="reg" value="4">
                                    <label class="form-check-label" for="reg">Regular</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="rep">¿Ha sido reportado?</label>
                            <textarea cols="5" rows="5" type="text" id="rep" placeholder="En caso de ser si, escriba porque, de lo contrario deje el campo vacio." class="form-control" [(ngModel)]="pedagogico.obs_reportes" [ngModelOptions]="{standalone: true}"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exp">¿Ha sido expulsado?</label>
                            <textarea cols="5" rows="5" type="text" id="exp" placeholder="En caso de ser si, escriba porque, de lo contrario deje el campo vacio." class="form-control" [(ngModel)]="pedagogico.obs_expulsion" [ngModelOptions]="{standalone: true}"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="repr">¿Ha reprobado alguna clase?</label>
                            <textarea cols="5" rows="5" type="text" id="repr" placeholder="En caso de ser si, escriba cual(es), de lo contrario deje el campo vacio." class="form-control" [(ngModel)]="pedagogico.obs_reprobado" [ngModelOptions]="{standalone: true}"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" (click)="form1.checkValidity()? update_pedagogico() : errores()"  class="btn btn-primary">Actualizar</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>



