


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha Alumno</title>
    <style>
        .mar3{
            margin-left: 25px;
        }
    </style>
</head>
<body>
    <div   style="margin-right: 25px;" class="mar3 text-center">
        <h1 class="text-success"> Ficha </h1>

        <button style="margin-right: 25px;" (click)="get_ficha(alumnos_datos.id_alumno)" class="mar3 btn btn-primary">Buscar</button>

        <div class="row mt-3 p-3">
            <div class="col-md-3">
            <input type="text" placeholder="ID" class="form-control" [(ngModel)]="alumnos_datos.id_alumno">
            </div>
        </div>
           
            
            <table class="table  table-hover table-striped table-info text-center">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>No. Expediente</th>
                    <th>Creacion de Expediente</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Nacionalidad</th>
                    <th>Lugar de Procendencia</th>
                    <th>Residencia Actual</th>
                    <th>Nombre del Padre</th>
                    <th>Telefono del Padre</th>
                    <th>Ocupacion del Padre</th>
                    <th>Nombre de la Madre</th>
                    <th>Telefono de la Madre</th>
                    <th>Ocupacion de la Madre</th>
                    <th>Motivo(s) de Ingreso</th>
                    <th>Donde Curso Sexto Grado</th>
                    <th>Ubicacion</th>
                    <th>Tipo de Escuela</th>
                    <th>Rendimiento Academico</th>
                    <th>Asignatura Dificultad</th>
                    <th>Asignatura Facilidad</th>
                    <th>Repite Curso</th>
                    <th>Forma de Estudio</th>
                    <th>Se Considera un Estudiante</th>
                    <th>Reportado</th>
                    <th>Expulsado</th>
                    <th>Vive con</th>
                    <th>Sociabilidad</th>
                    <th>Relación con quien Vive</th>
                    <th>Observacion Amistades</th>
                    <th>Observacion Noviazgo</th>
                    <th>Mejor Amigo</th>
                    <th>Actividad Deportiva</th>
                    <th>Otro Deporte</th>
                    <th>Actividad Artística</th>
                    <th>Otra Arte</th>
                    <th>Religion</th>
                    <th>Problema Emocional</th>
                    <th>En Problemas Acude a</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let x of registro">
                    <td>{{x.id_alumno}}</td>
                    <td>{{x.codigo_expediente}}</td>
                    <td>{{x.fecha_expediente}}</td>
                    <td>{{x.nombre_alumno}}</td>
                    <td>{{x.apellido_alumno}}</td>
                    <td>{{x.nacionalidad}}</td>
                    <td>{{x.lugar_procedencia}}</td>
                    <td>{{x.residencia_actual}}</td>
                    <td>{{x.nombre_padre}}</td>
                    <td>{{x.tel_padre}}</td>
                    <td>{{x.ocupacion_padre}}</td>
                    <td>{{x.nombre_madre}}</td>
                    <td>{{x.tel_madre}}</td>
                    <td>{{x.ocupacion_madre}}</td>
                    <td>{{x.motivos}}</td>
                    <td>{{x.sexto_grado_cursado}}</td>
                    <td>{{x.ubicacion_centro_anterior}}</td>
                    <td>{{x.descripcion_escuela}}</td>
                    <td>{{x.descripcion_rendimiento}}</td>
                    <td>{{x.descripcion_dificultad}}</td>
                    <td>{{x.descripcion_facilidad}}</td>
                    <td>{{x.obs_reprobado}}</td>
                    <td>{{x.descripcion_constante}}</td>
                    <td>{{x.descripcion_estudio}}</td>
                    <td>{{x.obs_reportes}}</td>
                    <td>{{x.obs_expulsion}}</td>
                    <td>{{x.obs_residencias}}</td>
                    <td>{{x.descripcion_sociales}}</td>
                    <td>{{x.descripcion_amistosas}}</td>
                    <td>{{x.obs_relaciones_amistosas}}</td>
                    <td>{{x.obs_noviazgos}}</td>
                    <td>{{x.descripcion_amigos}}</td>
                    <td>{{x.descripcion_deportivas}}</td>
                    <td>{{x.obs_actividades_deportivas}}</td>
                    <td>{{x.descripcion_artisticas}}</td>
                    <td>{{x.obs_actividades_artisticas}}</td>
                    <td>{{x.obs_religion}}</td>
                    <td>{{x.descripcion}}</td>
                    <td>{{x.obs_ayudas}}</td>
                    <td><button (click)="get_transtornos1(x.codigo_expediente)" class="btn btn-info">Transtornos</button></td>
                </tr>
            </tbody>
        </table>


        <table class="table table-bordered table-hover table-striped table-info text-center">
            <thead class="thead-dark">
                <tr>
                    <th>Transtornos</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let x of transtornos">
                    <td>{{x.descripcion}}</td>
                </tr>
            </tbody>
        </table>
    </div>


</body>
</html>