<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .mar3{
            margin-left: 25px;
        }
    </style>
</head>
<body>
    <div style="margin-right: 25px;"  class="mar3 text-center">
        <h1 class="text-success"> Mantenimiento Convivencia </h1>
    
    
            
            <table  class="table table-hover table-striped table-info text-center">
            <thead class="thead-dark">
                <tr>
                    <th>Con quien vive</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let x of listado_vive">
                    <td>{{x.descripcion}}</td>
                    <td><button (click)="pass_code(x.codigo_convive)"type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">Actualizar</button></td>
                    <td><button (click)="delete_vive(x.codigo_convive)" class="btn btn-danger">Borrar</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    


    
    <button  style="margin-bottom: 10px;" (click)="toggleShow()" class="mar3 btn btn-primary">Nuevo registro</button>
    <div *ngIf="isShown" class="row container-fluid"  id="divshow" >
        <div class="container-md border rounded border-primary" style="margin-bottom: 10px;">
            <div class="container-md">
                <form action="/" enctype="multipart/form-data"  method="post" ngNativeValidate #form>
                    <div class="form-group col-md-6">
                        <label for="sec">Nombre</label>
                        <input type="text" id="sec" class="form-control" required [(ngModel)]="vive.descripcion" [ngModelOptions]="{standalone: true}" >
                    </div>
                    <button style="margin-top: 5px; margin-left: 14px; margin-bottom: 10px;" (click)="form.checkValidity()?  insert_vive() : null" class="btn btn-primary">Insertar dato</button>
                    <button style="margin-top: 5px; margin-left: 14px; margin-bottom: 10px;" (click)="toggleShow()"  class="btn btn-primary">Esconder</button>
                </form>
            </div>
        </div>
    </div>
    

  <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Actualización</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container-md">
                <div class="container-md">
                    <form ngNativeValidate #form1>
                        <div class="form-group">
                            <label for="se">Nombre</label>
                            <input type="text" id="se" class="form-control" required [(ngModel)]="vive.descripcion" [ngModelOptions]="{standalone: true}" >
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" (click)="form1.checkValidity()? update_vive() : null"  class="btn btn-primary">Actualizar</button>
                          </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
