<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        textarea{
            border: 1px solid #17a2b8;
            resize: none;
        }
    </style>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.6/css/mdb.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark scrolling-navbar">
            <div class="container">
                <a class="navbar-brand disabled" href="#">INTAE</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" (click)="menu()">Inicio </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" (click)="registro()">Registro </a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Busquedas </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" (click)="ficha_completa()">Ficha Completa</a>
                      <a class="dropdown-item" (click)="hoja_registro()">Hoja Registro</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Mantenimientos </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" (click)="alumnos()">Alumnos Datos</a></li>
                      <li><a class="dropdown-item" (click)="alumnos_trastornos()">Alumnos Trastornos</a></li>
                      <li><a class="dropdown-item" (click)="artes()">Artes</a></li>
                      <li><a class="dropdown-item" (click)="asignatura_dificultad()">Asigatura Dificultad</a></li>
                      <li><a class="dropdown-item" (click)="asignatura_facilidad()">Asigatura Facilidad</a></li>
                      <li><a class="dropdown-item" (click)="aspectos_pedagogicos()">Aspectos Pedagógicos</a></li>
                      <li><a class="dropdown-item" (click)="aspectos_personales()">Aspectos Personales</a></li>
                      <li><a class="dropdown-item" (click)="ciudades()">Departamentos</a></li>              
                      <li><a class="dropdown-item" (click)="consideracion()">Consideración Estudios</a></li>
                      <li><a class="dropdown-item" (click)="vive()">Convive</a></li>
                      <li><a class="dropdown-item" (click)="cursos()">Cursos</a></li>
                      <li><a class="dropdown-item" (click)="deportes()">Deportes</a></li>
                      <li><a class="dropdown-item" (click)="documentos()">Documentos</a></li>
                      <li><a class="dropdown-item" (click)="estudio_constante()">Estudio Constante</a></li>
                      <li><a class="dropdown-item" (click)="fichas()">Fichas</a></li>
                      <li><a class="dropdown-item" (click)="ficha_documentos()">Fichas Documentos</a></li>
                      <li><a class="dropdown-item" (click)="jornadas()">Jornadas</a></li>
                      <li><a class="dropdown-item" (click)="mejor_amigo()">Mejores Amigos</a></li>
                      <li><a class="dropdown-item" (click)="modalidades()">Modalidades</a></li>
                      <li><a class="dropdown-item" (click)="relaciones_amistosas()">Relaciones Amistosas</a></li>
                      <li><a class="dropdown-item" (click)="relaciones_sociales()">Relaciones Sociales</a></li>
                      <li><a class="dropdown-item" (click)="rendimiento_academico()">Rendimiento Académico</a></li>
                      <li><a class="dropdown-item" (click)="problemas_emocionales()">Problemas Emocionales</a></li>
                      <li><a class="dropdown-item" (click)="secciones()">Secciones</a></li>
                      <li><a class="dropdown-item" (click)="tipo_escuela()">Tipo Escuela</a></li>
                      <li><a class="dropdown-item" (click)="trastornos()">Trastornos</a></li>
                      <li><a class="dropdown-item" (click)="listado_usuarioss()">Usuarios</a></li>
                    </ul>
                    <li class="nav-item">
                      <a class="nav-link" (click)="salir()">Cerrar Sesión</a>
                    </li>
                </ul>
                
                </div>
              </div>
          </nav>
          <div class="nose">
            <h1 class="mar4">Hoja de Registro de Alumno</h1>
        </div>
    </header>

    <main>
        <form action="/" enctype="multipart/form-data" method="post" ngNativeValidate #form>
            <div class="form-row">
                <div class="form-group  offset-md-4 col-md-4">
                    <label for="iden">Alumno</label>
                    <select id="iden" class="form-control" required [(ngModel)]="alumno.id_alumno" [ngModelOptions]="{standalone: true}" >
                      <option selected value="">- Seleccione -</option>
                      <option *ngFor="let x of listado_alumno" [value]="x.id_alumno">{{x.id_alumno}}</option>
                    </select>
                </div>
            </div>

                <div class="form-group  aligncenter ">
                    <button   (click)="form.checkValidity()?  get_registro() : null" (click)="isShown? toggleShow2() : null"  (click)="form.checkValidity()? toggleShow() : null" class="btn btn-primary  aver">Buscar</button>
                    <button  *ngIf="isShown2" class="btn btn-primary  aver aver1" (click)="downloadpdf()">Generar PDF</button>
                </div>
        </form>
        <div *ngIf="isShown" class="container-md border rounded border-primary formulario" >
            <div class="container-md"  *ngFor="let x of listado_registro" id="export" #export>
                <fieldset>
                    <legend>I. Datos Generales</legend>
                    <div class="form-row">
                        <div class="form-group offset-md-4 col-md-4">
                            <label for="fecha">Fecha de Apertura del Registro</label>
                            <p id="fecha">{{x.fecha_expediente}}</p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group offset-md-2 col-md-5">
                            <label for="nombres">Nombre del alumno</label>
                            <p id="nombres">{{x.nombre_completo}}</p>
                        </div>
                        <div class="form-group  col-md-3">
                            <label for="naci">Nacionalidad</label>
                            <p id="naci">{{x.nacionalidad}}</p>
                        </div>
                    </div>
                    <div class="form-row mar5">
                        <div class="form-group offset-md-1 col-md-5">
                            <label for="proce">Lugar de Procedencia</label>
                            <textarea disabled cols="4" rows="4" type="text" id="proce" class="form-control" >{{x.lugar_procedencia}}</textarea>
                        </div>
                        <div class="form-group col-md-5">
                            <label for="resi">Residencia Actual</label>
                            <textarea disabled cols="4" rows="4" type="text" id="resi"  class="form-control">{{x.residencia_actual_alumno}}</textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group offset-md-2 col-md-4">
                            <label for="nomp">Nombre del Padre</label>
                            <p id="nomp">{{x.nombre_padre}}</p>
                        </div>
                        <div class="form-group col-md-2" >
                            <label for="telp" class="mar6">Teléfono</label>
                            <p id="telp">{{x.tel_padre}}</p>
                        </div>
                        <div class="form-group col-md-2" >
                            <label for="ocupp" class="mar6">Ocupación</label>
                            <p id="ocupp">{{x.ocupacion_padre}}</p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group offset-md-2 col-md-4">
                            <label for="nomm">Nombre de la Madre</label>
                            <p id="nomm">{{x.nombre_madre}}</p>
                        </div>
                        <div class="form-group col-md-2" >
                            <label for="telm" class="mar6">Teléfono</label>
                            <p id="telm">{{x.tel_madre}}</p>
                        </div>
                        <div class="form-group col-md-2" >
                            <label for="ocupm" class="mar6">Ocupación</label>
                            <p id="ocupm">{{x.ocupacion_madre}}</p>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>II. Aspectos Pedagógicos</legend>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <div  class="form-group mar9">
                                <label for="motivos">Motivos para elegir esta institución</label>
                                <textarea disabled cols="8" rows="6" type="text" id="motivos" class="form-control" >{{x.motivos}}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="sexto">Centro educativo donde curso sexto grado</label>
                            <p id="sexto">{{x.sexto_grado_cursado}}</p>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="ubicacion">Ubicación del centro académico</label>
                            <p id="ubicacion">{{x.ubicacion_centro_anterior}}</p>
                        </div>
                        <div class="form-group col-md-4" >
                            <label for="escuela">Tipo de Escuela de la que proviene</label>
                            <p id="escuela">{{x.descripcion_escuela}}</p>
                          </div>
                    </div>
                    <div class="form-group">
                        <label for="rendimiento" class="mar6">Rendimiento Académico</label>
                        <p id="rendimiento">{{x.descripcion_rendimiento}}</p>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="dificultad" class="mar6">Asignatura que presenta mayor dificultad</label>
                            <p id="dificultad">{{x.descripcion_dificultad}}</p>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="facilidad" class="mar6">Asignatura que se le facilita más</label>
                            <p id="facilidad">{{x.descripcion_facilidad}}</p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="estudio" class="mar6">Forma de Estudio</label>
                            <p id="estudio">{{x.descripcion_estudio}}</p>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="estudiante" class="mar6">Se considera un estudiante</label>
                            <p id="estudiante">{{x.descripcion_consideracion}}</p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="repro">¿Ha reprobado o repetido alguna clase o curso?</label>
                            <textarea disabled cols="5" rows="5" type="text" id="repro" class="form-control">{{x.obs_reprobado}}</textarea>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="repor">¿Ha sido reportado?</label>
                            <textarea disabled cols="5" rows="5" type="text" id="repor"  class="form-control">{{x.obs_reportes}}</textarea>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="expu">¿Ha sido expulsado?</label>
                            <textarea disabled cols="5" rows="5" type="text" id="expu"  class="form-control">{{x.obs_expulsion}}</textarea>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>III. Aspecto Personal y Social</legend>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="vive">Con quien vive actualmente</label>
                            <p id="vive">{{x.descripcion_convive}}</p>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="otro1">Especificación de con quien vive</label>
                            <p id="otro1">{{x.obs_residencias}}</p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="ra">Situación actual de las relaciones amistosas con las personas que vive</label>
                            <p id="ra">{{x.descripcion_amistad}}</p>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="por">Explique porque</label>
                            <p  id="por">{{x.obs_relaciones_amistosas}}</p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group offset-md-3 col-md-6">
                            <label for="noviazgo">Tiene novio</label>
                            <p id="noviazgo">{{x.obs_noviazgos}}</p>
                        </div>
                    </div>
                    <div class="form-row mar10" >
                        <div class="form-group col-md-4">
                            <label for="rs">Como se considera en las relaciones sociales</label>
                            <p id="rs">{{x.descripcion_social}}</p>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="ma">¿Quién es su mejor amigo?</label>
                            <p id="ma">{{x.descripcion_amigo}}</p>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="amigo">Especificación Mejor Amigo</label>
                            <p id="amigo">{{x.obs_mejor_amigo}}</p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group offset-md-1 col-md-5">
                            <label for="deporte">Qué actividad deportiva le gusta?</label>
                            <p id="deporte">{{x.descripcion_deporte}}</p>
                        </div>
                        <div class="form-group  col-md-5">
                            <label for="otro2">Otro deporte</label>
                            <p id="otro2">{{x.obs_actividades_deportivas}}</p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group offset-md-1 col-md-5">
                            <label for="arte">Participa en alguna actividad artística?</label>
                            <p id="arte">{{x.descripcion_arte}}</p>
                        </div>
                        <div class="form-group col-md-5">
                            <label for="otro3">Otra arte</label>
                            <p id="otro3">{{x.obs_actividades_artisticas}}</p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="rel">Qué religion práctica?</label>
                            <p id="rel">{{x.obs_religion}}</p>
                        </div>
                        <div class="form-group col-md-5">
                            <label for="emo">Ha vivido o vive algún problema emocional?</label>
                            <p id="emo">{{x.descripcion_problema}}</p>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="ayuda">A quien acude cuando tiene problemas?</label>
                            <p id="ayuda">{{x.obs_ayudas}}</p>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>IV. Trastornos Sintomáticos</legend>
                    <label for="alumnotrastorno">A presentado alguno de estos problemas</label>
                        <div class="form-group offset-md-3 col-md-6">
                                <ul id="alumnotrastorno" >
                                    <li *ngFor="let x of listado_detalle2"> {{x.descripcion}}</li>
                                </ul>
                        </div>
                    <label *ngIf="isShown3" for="aver" >Antecedentes de experiencias traumáticas</label>
                    <div class="form-group offset-md-3 col-md-6">
                            <ul id="aver" *ngIf="isShown4">
                                <li *ngFor="let x of listado_detalle" >{{x.descripcion}}</li>
                            </ul>
                    </div>
                </fieldset>

                    <div class="form-group  aligncenter ">
                        <button    (click)="toggleShow()"  class="btn btn-secondary  mar15">Esconder</button>
                    </div>
                
            </div>
        </div>
    </main>
</body>
</html>



